@media (min-width: 992px) and (max-width: 1170px) {
    header {
        height: 70vh;
        background-image: url(../man-2.jpg);
    }
    
    header div {
        top: 30%;
        left: 5%;
    }
        
    header div h1, header div h2 {
        margin-left: 50vw;
    }    
    }
    
    @media (max-width: 991px) {
    header {
        height: 50vh;
    }
    
    header div {
        top: 110%;
        color: rgb(105, 100, 100);
        text-align: center;
    }
        
    header div h1, header div h2 {
        margin-left: 0;
    }    
    }
