* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', sans-serif;
    color: white;
}

header {
    background-image: url(../man-1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

header div {
    text-transform: uppercase;
    position: relative;
    text-align: left;
    top: 70%;
}

header div h1, header div h2 {
    margin-left: 10px;
    margin-bottom: 20px;
}

